@font-face {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range : U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
   
}

:root { background-color: #FBF5EF;
    color:#DEAD7C ;
    color:rgb(115, 55, 18);

  }

  header, .grid,main,  footer {
    max-width: 1000px;
    margin: 0 auto;
    justify-content:center;
} 

header {
    display: grid;
    grid-template-columns: 200px 60% ;
    align-items: center;
    justify-content:center;
    background-color: white;
    
   

}

nav {
    display:flex;
    justify-content: space-between;
     
   
}




h1 {
    font-size: 40px;
    position:absolute;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    left:0px;
    right:0px;
    top:0px;
    text-align: center;
}


.hero {
    position:relative;
    margin-top:30px;
  
}


.hero img { 
    display:block;
    width: 100%;
    height: 500px;
    object-fit:cover;
    
    
    
}

article {
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    left:60px;
    right:60px;
    bottom:200px;
    top:100px;
    padding-left:50px
 
}


#img1 {
  width: 150px;
  height:auto;
  float:right;
  padding-right:50px;
  
 
}



.container {
    
    gap:20px;
    flex-wrap: wrap;
}

.container img {
    width: 300px;
    height: 250px;
    object-fit:cover;
    
}

.first_container p{
    text-align:center;
    font-size:25px;
    margin:20px;

}
   
h2 {
    color: #3460a6;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:35px;
    text-align: center;
    padding-top:50px;
  
}
.second_container img{
    width:320px;
    height:250px;
    object-fit:cover;
    box-shadow: 0 0 30px gray;

    
}

.second_container{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items:center;

}


footer {
    display: grid;
    align-items:center;
    justify-content:center;
    grid-template-columns:  2fr 2fr 2fr 2fr;
    margin-top:30px;
    border-top: 2px solid black;
    margin-top:60px;
}

footer p{
    display:flex;
    align-items:center;
    justify-content:center;
    grid-column-start:2;
    grid-column-end:4;

}

.icons{
   
    bottom:-150px;
    right:10px;
    grid-column: 4/6;
    display:flex;
    gap:10px;
    justify-content:end;
 
}

