@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root { background-color: #FBF5EF;
    color:#DEAD7C ;
    color:rgb(115, 55, 18);
   
  }

header {
    display: grid;
    grid-template-columns: 200px 60% ;
    align-items: center;
    max-width: 1000px;
    background-color: white;
    
   

}

nav {
    display:flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-right:10px;
    
   
}

.logo {
    margin-left:50px;
    margin-bottom: 10px;
}




h1 {
    font: size 30px;
    position:absolute;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    
    left:0px;
    right:0px;
    top:0px;
    text-align: center;
}


.hero {
    position:relative;
  
}


.hero img { 
    display:block;
    width: 100%;
    height: 300px;
    object-fit:cover;
    
   
}

article {
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    padding-top:25px;
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    left:60px;
    right:60px;
    bottom:60px;
    top:100px;
    padding-left:50px




  
}





#img1 {
  width: 150px;
  height:auto;
  float:right;
  padding-right:50px;
  
  
  

}



section {
    display:flex;
    align-items:center;
    height:100vh;
    justify-content: center;
}

.container {
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: repeat(2, auto);
    gap:20px;
}

.container img {
    width: 150px;
    height: 150px;
    object-fit:cover;
    grid-row-start: 2;
    justify-content:center;
    padding-top:5px;
}
.container h2 {
    color: #DEAD7C;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    display: flex;
    justify-content:center;
    grid-column-start: 2;
    grid-column-end:  5;
    align-items:center;
    padding-top:50px;
  
}


.section1 {
    display:flex;
    justify-content:center;
    height:1vh;
    align-items:auto;
    

}

.first_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    gap: 5px;
    justify-content: center;;
}

.first_container h2{
    color: #DEAD7C;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    display: flex;
    justify-content:center;
    grid-column: span 1 / 3;
   

}

.first_container p {
    grid-column: 1/4;
}

footer {
    display: grid;
    align-items:center;
    justify-content:center;
    grid-template-columns:  2fr 2fr 2fr 2fr;
}

footer p{
    display:flex;
    align-items:center;
    justify-content:center;
    grid-column-start:2;
    grid-column-end:4;

}

.icons{
   
    bottom:-150px;
    right:10px;
    grid-column: 4/6;
    display:flex;
    gap:10px;
    justify-content:end;



    
}

