* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 400;
    color: #333;
    background-color: #fff
}

header {
    margin:0 auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color:navy;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif
}

form {
    width: 600px;
    margin:0 auto;
    padding:1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label, button, select, input, textarea {
    font-family:'Times New Roman', Times, serif;
}

input, select, textarea {
    padding: .3rem;
    font-size:1.1rem;
    margin: .6rem;
    
}

button {
    margin: 2rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    font-size: 20px;
}

p {
    background-color:rgb(81, 81, 81);
    color:#fff;
    font-size: 15px;
    padding:1rem;
    margin-left:4rem;
    margin-right: 4rem;
    margin-top:0.5rem;
}

    