* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


nav {
   
    background-color: steelblue; padding: 10px;
}

nav a { color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: steelblue;
 }

 img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
 }

 p {
    padding: 10px;
 }

 /* Calss Selectors*/

 .box{
    margin:1rem;
    border:2px solid rgb(59, 40, 40,);
    padding:1rem;
    background-color: beige;
    color:antiquewhite;
 }

  aside{
    width:35em;
    flex:right;
    position: relative;
 }

 main img { 
    float: right;
    
    

    

 }
