

nav {
   
    background-color: steelblue;
     padding: 10px;
}

nav a { color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: steelblue;
    padding: .5rem ;
 }

 p {
    max-width: 400px;
 }
main {
    max-width:640px
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float:right;
    margin:0;
    

 }



 aside{
    width:30em;
    position: relative;
    text-align: center;
 }

aside img {
    width:300px;
    height:auto;
}


aside h2{
    position:absolute;
    left: 100px;
    top:150px;
    color:#342905

}

footer {
    margin:1em;
    border-top:2px solid #000;
    text-align:center;
}




 /* Calss Selectors*/

 .box{
    margin:1rem;
    border:2px solid rgb(59, 40, 40,);
    padding:1rem;
    background-color: beige;
    color:rgb(122, 75, 14);
 }

  



